/* CSS declarations go here */
.header {
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}

body {
  text-align: center;
  background-image: url("bg.jpg");
}

select {
}

.wrapper{
  margin-top:10%;
}

.outputbox {
  border-color: grey
  width:200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.logo {
  background-image: /img
}
